input.text {
	border: 1px solid #777777;
	width: 100%;
}

table {
	border:0;
	border-collapse:collapse;
	table-layout:fixed
}

td {
	padding:4px;
	background-color:#ffffff;
	border-color:#bbbbbb;
	border-style:solid;
	border-width:thin
}

th {
	padding:4px;
	background-color:#eeeeee;
	border-color:#bbbbbb;
	border-style:solid;
	border-width:thin;
}

.side {
	padding: 10px;
	background-color:#ffddbd;
	float: left;
/*	position: fixed;*/
	width: 20%;
}

div.controls {
	padding: 10px;
	background-color:#ffddbd;
	float: left;
	margin-bottom: 10px;
}

div.controlbar {
	padding: 10px;
	background-color:#ffddbd;
/*	position: fixed;*/
	margin: 10px;
	z-index: 100;
	width: 95%;
	border-style: solid;
	border-width: thin;
}

#mainContent {
	margin-left: 23%;
}

div.stats_box {
	float: left;
	margin: 10px;
}

div.row {
	clear: both;
	padding-top: 5px;
}

div.row span.label {
	float: left;
	width: 60%;
	text-align: left;
}


div.row span.formw {
	float: left;
	width: 40%;
} 
